body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.logo-accent{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.nav li a{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav li a:hover {
    color: #404bbf;
}
.nav li a:focus {
    color: #404bbf;
}
.nav li a:active {
    color: #2e2f42;
}
.email{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.email:hover{
    color: #404bbf;
}
.email:focus {
    color: #404bbf;
}
.phone-number {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.phone-number:hover {
    color: #404bbf;
}
.phone-number:focus{
    color: #404bbf;
}